/*------------------------adjustment------------------------*/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
ul,
ul li,
p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
body {
	background: #f0f0f0;
	font-size: 14px;
	line-height: 1.42;
	font-family: 'helveticaneuecyrroman',Arial,sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
.empty {
	height: 115px;
}
.footer {
	height: 115px;
	margin-top: -115px;
	position: relative;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
/*---------------------------HEADER---------------------------------*/
.header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb3e38+0,ff8f30+100 */
	background: #fb3e38; /* Old browsers */
	background: -moz-linear-gradient(left,  #fb3e38 0%, #ff8f30 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #fb3e38 0%,#ff8f30 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #fb3e38 0%,#ff8f30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#ff8f30',GradientType=1 ); /* IE6-9 */
	margin-bottom: 20px;
}
.header-logo ,
.header-search,
.header-menu {
	float: left;
}
.header-logo {
	width: 25%;
}
.header-search {
	width: 40%;
}
.header-menu {
	width: 35%;
}
.header-top:after {
	content: '';
	display: table;
	clear: both;
}
.logo {
	display: inline-block;
}

.logo-pic {
	display: block;
	max-width: 175px;
	max-height: 55px;
}
.search {
	position: relative;
}
.search-input {
	padding: 10px 40px 10px 35px;
	background: rgba(255,255,255,.2);
	border: 0 none;
	border-radius: 50px;
	color: #fff;
	width: 100%;
	outline: none;
}
.search-input::-webkit-input-placeholder {
	color: #fff;
}
.search-input::-moz-input-placeholder {
	color: #fff;
}
.search-input::-moz-input-placeholder {
	color: #fff;
}
.search-input::-ms-input-placeholder {
	color: #fff;
}
.search-submit {
	background: url('../img/icons/zoom.png') 0 0 no-repeat;
	width: 18px;
	height: 18px;
	border:none;
	display: block;
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -9px;
	padding: 0;
	cursor: pointer;
}
.menu-item {
	display: inline-block;
}

/*******************************MENU********************************************/

/*Выравниваение элементов списка по ширине*/
.menu {
	text-align: justify;
}
.menu:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}
/*****************************************/

.menu-link {
	display: block;
	padding: 10px;
}
.menu-link-iconed {
	padding-left: 50px;
	padding-right: 20px;
	position: relative;
	border: 2px solid #feae6c;
	border-radius: 50px;

}
.menu-link-text {
	color: #fff;
	font-size: 13px;
}
.menu-link-icon {
	position: absolute;
	left: 13px;
	top: 0;
	bottom: 0;
	width: 30px;
}
.menu-link-icon-pic {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.header-top {
	padding-top: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255,255,255,.2); 
}

/*************************NAV*********************************/
.nav-list {
	text-align: justify;
}
.nav-list:after {
	content: '';
	width: 100%;
	height: 0;
	display: inline-block;
}
.nav-item {
	display: inline-block;
}
.nav-link:hover span {
	color: #ffc960;
}
.nav-link:hover svg * {
	fill: #ffc960;
}
.nav-icon,
.nav-title {
	display: inline-block;
	vertical-align: middle;
}
.nav-icon svg * {
	fill: #fff;
}
.nav-title {
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
}
/*********************Breadcrumbs*****************************/
.breadcrumbs-item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.breadcrumbs-link {
	font-size: 11px;
	color: #fa3f37;
}
.breadcrumbs-item:first-child{
	margin-left: 0;
}
.breadcrumbs-item:first-child:before {
	display: none;
}
.breadcrumbs-item:before{
	content: '';
	display: inline-block;
	background: url('../img/decor/arrow.png') 0 0 no-repeat;
	width: 16px;
	height: 7px;
	margin-right: 15px;
	vertical-align: middle;
}
.title {
	font-family: 'helveticaneuecyrlight',Arial,sans-serif;
	font-size: 24px;
	color: #2e2e2e;
	margin-top: 0;
	font-weight: normal;
}
/*************************CONTAINER******************************/
.content-wrapper .container {
	background: #fff;
}
.content-wrapper .container:after,
.products-item:after,
.slideshow-thumbs:after {
	content: '';
	display: table;
	clear: both;
}
.products-item {
	position: relative;
	border-bottom: 1px solid #e7e7e7;
}
.sidebar {
	width: 25%;
	float: left;
}
.content {
	width: 75%;
	float: left;
	border-left: 1px solid #e7e7e7;
}
.products-slideshow {
	float: left;
	width: 30%;
	padding: 25px;
}
.slideshow-display {
	height: 235px;
	position: relative;
}
.slideshow-display-img {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 95%;
	max-height: 95%;
}
.products-desc {
	width: 45%;
	float: left;
}
.products-desc:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #e7e7e7;
	left: 30%;
}
.slideshow-thumbs-item {
	width: 25%;
	float: left;
}
.slideshow-thumbs-link {
	display: block;
	height: 54px;
	position: relative;
}
.slideshow-thumbs-link img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}
.products-title {
	margin-top: 0;
	font-weight: normal;
	margin-bottom: 25px;
}
.products-desc-content {
	font-size: 14px;
	color: #676767;
}
.products-desc-content li {
	margin-bottom: 10px;
}
.products-desc {
	padding: 40px 25px;
}
.products-price {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 25%;
	padding: 20px;
}
.products-price-inner {
	border: 1px solid #e7e7e7;
	height: 100%;
	position: relative;
	padding: 20px;
}
.products-buy {
	position: absolute;
	bottom: 10px;
	left: 20px;
	display: block;
	padding: 10px 40px;
	background: #ff8e2f;
	color: #fff;
	border-radius: 50px;
}
/********************************CATIGORIES************************************/
.catigories-item {
	border-bottom: 1px solid #e7e7e7;
	position: relative;

}
.categories-link {
	display: block;
	padding: 10px 20px;
	padding-right: 50px;
	font-size: 0;
}
.catigories-icon,
.categories-text {
	display: inline-block;
	vertical-align: middle;
}
.categories-text  {
	width: 90%;
	font-size: 14px;
	padding-left: 20px;
}
.categories-quantity {
	position: absolute;
	font-size: 14px;
	line-height: 16px;
	top: 50%;
	margin-top: -8px;
	right: 10px;
}
.catigories-icon {
	width: 10%;
}
/**************************PAGINATION************************************/
.pagination	{
	text-align: center;
}
.pagination .container {
	background: #fff;
	padding: 30px 0;
}
.pagination-list ,
.pagination-control,
.pagination-item {
	display: inline-block;
	vertical-align: middle;
}
.pagination-control.pagination-control-left{
	background: url('../img/icons/sprites.png') no-repeat -37px -49px;
	width: 11px;
	height: 19px;
}
.pagination-control.pagination-control-left:hover {
	background: url('../img/icons/sprites.png') no-repeat -3px 0;
	width: 11px;
	height: 19px;
}
.pagination-control.pagination-control-right {
	background: url('../img/icons/sprites.png') no-repeat -37px 0;
	width: 11px;
	height: 19px;
}
.pagination-control.pagination-control-right:hover {
	background: url('../img/icons/sprites.png') no-repeat -3px -49px;
	width: 11px;
	height: 19px;
}
.pagination-list {
	margin: 0 26px;
}
.pagination-link {
	width: 40px;
	text-align: center;
	display: inline-block;
}
.pagination-link:hover {
	color: red;
}
.footer .container {
	padding-top: 15px;
	text-align: center;
}