doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")


	body
		.email-container
			.email-header
				.email-center
					.email-header-topline
						a.email-logo(href="#")
							img(src="img/logo.png", alt="Logo")

						.email-social-wrap
							a(href="#")
								img(src="img/soc_twitter.png", alt="Twitter")
							a(href="#")
								img(src="img/soc_vk.png", alt="VK")
							a(href="#")
								img(src="img/soc_fb.png", alt="FaceBook")
						
						.email-header-top.
							Самое лучшее предложение  <br /> из всех, которые вы получали

					a(href="#").email-button Подробнее

			.email-content  
				.email-center
					.email-tizers-wrap		
						.email-tizer-item 
							img(src="img/icon_1.png", alt="item")
							p У нас есть лапки.
						.email-tizer-item 
							img(src="img/icon_2.png", alt="item")
							p ...И бумажные самолётики.
						.email-tizer-item 
							img(src="img/icon_3.png", alt="item")
							p Кроме того у нас есть чемодан.

					.email-sale-text Заказывая сейчас - получаете скидку

					.mail-products-wrap
						.mail-products-item
							a(href="#")
								img(src="img/items/1.jpg", alt="product")
							.mail-price 2 000 грн
							a(href="#").product-button Заказасть
						.mail-products-item
							a(href="#")
								img(src="img/items/2.jpg", alt="product")
							.mail-price 1 000 грн
							a(href="#").product-button Заказасть
						.mail-products-item
							a(href="#")
								img(src="img/items/3.jpg", alt="product")
							.mail-price 3 000 грн
							a(href="#").product-button Заказасть
						.mail-products-item
							a(href="#")
								img(src="img/items/4.jpg", alt="product")
							.mail-price 5 000 грн
							a(href="#").product-button Заказасть

		.email-footer.
			OOO "Лучшее предложение" <a href="#">Отписаться от рассылки</a>
